<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ATODE.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ATODEFramework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>AddByUrl.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>202C660019604D5D00497257</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>202C662119604D5E00497257</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D92D57BE19EBA8A000B87C20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D92D57E219EBAB9300B87C20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D92D57EC19EBAB9300B87C20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
